---
type Props = {
  id?: string;
  class?: string;
};

const { id, class: className }: Props = Astro.props;
---

<div
  id="gsap-container"
  class="relative flex h-[500px] items-center justify-around border-2 border-dashed border-indigo-100"
>
  <div
    id="box-1"
    class="aspect-square w-[120px] cursor-pointer rounded-md bg-indigo-500"
  >
  </div>
  <div
    id="box-2"
    class="aspect-square w-[120px] cursor-pointer rounded-md bg-orange-500"
  >
  </div>
  <h4 class="pointer-events-none absolute bottom-4">Spin us, Drag us...</h4>
</div>

<script>
  import { gsap } from "gsap";
  import { Draggable } from "gsap/Draggable";
  document.addEventListener(
    "astro:page-load",
    () => {
      gsap.registerPlugin(Draggable);

      Draggable.create("#box-1", {
        type: "rotation",
      });

      Draggable.create("#box-2", {
        type: "x,y",
        bounds: "#gsap-container",
      });
    },
    {
      once: false,
    }
  );
</script>
