---
import Bookmark from "#/components/Bookmark.astro";
import Default from "#/layouts/Default.astro";
import GSAP from "./_GSAP.astro";
---

<Default title="Welcome to my place">
  <h1>Hello, {Astro.url.pathname}</h1>
  <Bookmark />
  <GSAP />
</Default>
