---
export const prerender = false;
import Default from "#/layouts/Default.astro";

const res = await fetch("https://jsonplaceholder.typicode.com/posts");
const posts: { id: string; title: string; body: string }[] = await res.json();
---

<Default title="Welcome to my place">
  <h1>Hello, {Astro.url.pathname}</h1>
  <ol>
    {
      posts.map((post) => {
        return (
          <li>
            <a href={`/blog/${post.id}`} rel="noreferrer">
              {post.title}
            </a>
          </li>
        );
      })
    }
  </ol>
</Default>
