---
import Default from "🧊/Default.astro";
try {
  var posts = await Astro.glob("./**/*.md");
} catch (error) {}
---

<Default title="Welcome to my place" class="py-10">
  <h2>This is built in blog (prerender)</h2>
  <div>
    {
      posts!.map((e, index) => {
        return (
          <li class="list-decimal">
            <a class="text-lg" href={e.url}>
              {e.frontmatter.title}
            </a>
          </li>
        );
      })
    }
  </div>
  <br />
  <h2>
    {"Take a look at "}
    <a href={"/blog/cloud-blog"} class="hover-highlight text-sky-600">
      cloud blog
    </a>
  </h2>
</Default>
