---
import Default from "🌈/Default.astro";
const blog = await Astro.glob("./**/*.md");
---

<Default title="Welcome to my place" class="py-10">
  <h1>This is from-source's blog</h1>
  <h2>
    {
      blog?.map((e) => {
        return (
          <li class="list-decimal">
            <a href={e.url}>{e.frontmatter.title}</a>
          </li>
        );
      })
    }
  </h2>
</Default>
