---
import Default from "#/layouts/Default.astro";
import Carousel from "./_Carousel.astro";
---

<Default title="Welcome to my place">
  <h1>Hello, {Astro.url.pathname}</h1>
  <Carousel />
</Default>
