---
import Default from "🧊/Default.astro";
---

<Default title="Welcome to my place" class="py-10">
  <h1>Hello, {Astro.url.pathname}</h1>
  <p class="hover-highlight">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis quaerat
    expedita recusandae eligendi, quibusdam laboriosam aperiam libero
    perferendis rem. Enim.
  </p>
  <p class="hover-highlight w-fit">Lorem ipsum</p>
</Default>
