---
type Props = {
  id?: string;
  class?: string;
};

const { id, class: className }: Props = Astro.props;
---

<div class="carousel">
  {
    new Array(6).fill(0).map((e, i) => {
      return (
        <img
          src={`/imgs/${i}.png`}
          alt=""
          class="carousel-item"
          id={`carousel-item-${i}`}
        />
      );
    })
  }
</div>

<style>
  .carousel {
    @apply flex snap-x snap-mandatory overflow-y-hidden overflow-x-scroll overscroll-x-contain hide-scrollbar;
  }
  .carousel-item {
    @apply aspect-[18/9] h-[300px] cursor-pointer select-none snap-center object-cover drag-none first:ml-[50%] last:mr-[50%];
    animation: focus-item;
    animation-timeline: view(inline);
    animation-range: cover 30% cover 70%;
    scale: 0.8;
    filter: grayscale(100%);
    border-radius: 6px;
    @keyframes focus-item {
      50% {
        scale: 1;
        filter: grayscale(0%);
        border-radius: 24px;
      }
    }
  }
</style>

<script>
  const carousel = document.querySelector(".carousel") as HTMLElement;
  const carouselItem = document.querySelector(".carousel-item") as HTMLElement;

  document.addEventListener("keydown", (e) => {
    if (e.key === "ArrowRight") {
      e.preventDefault();
      carousel.scrollBy({
        left: carouselItem.offsetWidth,
        behavior: "smooth",
      });
    } else if (e.key === "ArrowLeft") {
      e.preventDefault();
      carousel.scrollBy({
        left: -carouselItem.offsetWidth,
        behavior: "smooth",
      });
    }
  });
  let prev: number;
  carousel.addEventListener("mousemove", (e) => {
    if (e.buttons === 1) {
      if (prev) {
        carousel.scrollBy({
          left: prev - e.screenX,
          behavior: "smooth",
        });
      }
      prev = e.screenX;
    }
  });
  document.addEventListener("mouseup", (e) => {});
</script>
