---
import { AuthEmoji } from "./AuthEmoji";
type Props = {
  id?: string;
};

const { id } = Astro.props;
const navItems = [
  { href: "/blog", title: "Blog" },
  { href: "/projects", title: "Projects" },
  { href: "/demo", title: "Demo" },
];
---

<section id={id} class="navbar-wrapper">
  <nav>
    <span class="nav-home">
      <a href="/">HOME</a>
    </span>
    <span class="nav-items">
      {
        navItems.map((item) => {
          return (
            <a class="hover:brightness-75" href={item.href}>
              {item.title}
            </a>
          );
        })
      }
      <AuthEmoji client:load />
    </span>
  </nav>
</section>

<style>
  section {
    --navbar-bg-color: oklch(90% 0.025 var(--hue, 0));
    --navbar-items-color: oklch(60% 0.17 var(--hue, 0));
    @apply sticky left-0 top-0 z-[100] w-screen pt-[20px];
    background: linear-gradient(var(--bg, #fff) 60%, transparent 100%);
    a {
      @apply before:hidden;
    }
  }
  nav {
    @apply mx-auto h-[60px] w-[clamp(30vw,864px,80vw)] rounded-full;
    @apply flex items-center justify-center px-10 font-cursive md:justify-between;
    @apply bg-[--navbar-bg-color] text-[--navbar-items-color];
    .nav-home {
      @apply text-3xl font-normal transition duration-300 hover:scale-110;
    }
    .nav-items {
      @apply hidden flex-row items-center gap-4 text-2xl md:flex;
    }
  }
  /* https://docs.astro.build/en/guides/styling/#global-styles */
  :global(.auth-emoji) {
    @apply aspect-square w-[40px] overflow-hidden rounded-full text-[32px] center;
    @apply before:!hidden hover:animate-[shake_500ms_infinite];
  }
  @keyframes shake {
    25% {
      transform: translate(2px, 1px) rotate(5deg) scale(1.1);
    }
    50% {
      transform: translate(0, 0) rotate(0eg) scale(1);
    }
    75% {
      transform: translate(1px, 2px) rotate(-5deg) scale(1.1);
    }
  }
</style>
