---
import { AuthEmoji } from "🧩/AuthEmoji";
type Props = {
  id?: string;
};

const { id } = Astro.props;
const navItems = [
  { href: "/blog", title: "Blog" },
  { href: "/projects", title: "Projects" },
  { href: "/examples", title: "Examples" },
];
---

<div id={id} class="sticky-nav">
  <nav>
    <span class="nav-home">
      <a href="/">HOME</a>
    </span>
    <span class="nav-items">
      {
        navItems.map((item) => {
          return <a href={item.href}>{item.title}</a>;
        })
      }
      <AuthEmoji client:load />
    </span>
  </nav>
</div>

<style>
  :root {
    --navbar-bg-color: oklch(90% 0.025 var(--hue, 0));
    --navbar-home-color: oklch(50% 0.15 var(--hue, 0));
    --navbar-items-color: oklch(60% 0.17 var(--hue, 0));
    --navbar-link-hover-color: oklch(70% 0.12 var(--hue, 0));
  }
  .sticky-nav {
    @apply sticky left-0 top-0 z-[100] h-[100px] w-screen pt-[20px];
    background: linear-gradient(var(--bg, #fff) 60%, transparent 100%);
    & a {
      @apply before:content-none;
    }
  }
  nav {
    @apply mx-auto h-[80px] w-[clamp(30vw,1024px,80vw)] rounded-lg bg-[--navbar-bg-color];
    @apply flex items-center justify-center px-10 font-cursive md:justify-between;
    & .nav-home {
      @apply px-6 text-[2rem] transition duration-300 hover:scale-110;
      & a {
        @apply text-[--navbar-home-color];
      }
    }
    & .nav-items {
      @apply hidden flex-row items-center gap-6 text-[1.6rem] md:flex;
      & a {
        @apply text-[--navbar-items-color] hover:text-[--navbar-link-hover-color];
      }
    }
  }
  /* https://docs.astro.build/en/guides/styling/#global-styles */
  :global(.auth-emoji) {
    @apply aspect-square w-[40px] overflow-hidden rounded-full center;
    @apply before:!content-none hover:animate-[shake_500ms_infinite];
  }
  @keyframes shake {
    25% {
      transform: translate(2px, 1px) rotate(5deg) scale(1.1);
    }
    50% {
      transform: translate(0, 0) rotate(0eg) scale(1);
    }
    75% {
      transform: translate(1px, 2px) rotate(-5deg) scale(1.1);
    }
  }
</style>
