---
type Props = {
  id?: string;
};

const { id } = Astro.props;
const navItems = [
  { href: "/blog", title: "Blog" },
  { href: "/projects", title: "Projects" },
  { href: "/examples", title: "Examples" },
  { href: "/auth/signout", title: "🥶" },
];
---

<div id={id} class="sticky-nav">
  <div class="navbar">
    <span class="nav-home">
      <a href="/">HOME</a>
    </span>
    <span class="nav-items">
      {
        navItems.map((item) => {
          return (
            <a
              href={item.href}
              class={
                Astro.url.pathname === item.href ? "nav-item-active" : null
              }
            >
              {item.title}
            </a>
          );
        })
      }
    </span>
  </div>
</div>

<style>
  :root {
    --navbar-bg-color: oklch(90% 0.025 var(--hue, 0));
    --navbar-home-color: oklch(50% 0.15 var(--hue, 0));
    --navbar-items-color: oklch(60% 0.17 var(--hue, 0));
    --navbar-link-hover-color: oklch(70% 0.12 var(--hue, 0));
  }
  .sticky-nav {
    @apply sticky left-0 top-0 z-[100] flex h-[100px] w-screen flex-col items-center justify-end;
    background: linear-gradient(var(--bg, #fff) 60%, transparent 100%);
  }

  .navbar {
    @apply h-[80px] w-[clamp(30vw,1024px,80vw)] rounded-[10px] bg-[--navbar-bg-color] px-12;
    @apply flex items-center justify-center md:justify-between;

    & * {
      @apply font-cursive;
    }
    & > .nav-home {
      @apply mx-8 text-[2rem] transition duration-300 hover:scale-110;
      & a {
        @apply text-[--navbar-home-color];
      }
    }
    & > .nav-items {
      @apply hidden flex-row gap-x-6 text-[1.6rem] md:flex;
      & a {
        @apply text-[--navbar-items-color] hover:text-[--navbar-link-hover-color];
      }
    }
  }
</style>
