@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .show-border {
    border-color: hsl(200 60% 60%);
    border-style: dashed;
    border-width: 2px;
  }
}

@layer utilities {
  .container-queries {
    container-type: inline-size;
  }
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .drag-none {
    -webkit-user-drag: none;
  }
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .absolute-center {
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
  }
  .fixed-center {
    position: fixed;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
  }
}
